body{
	background: #3B5998;
}

/*-----------------------------------------------------------------------------------------------------------*/

/*loader*/
.spinner {
  margin: 22vh auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  display: none;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  margin-top: 20vh;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}/*loader ends*/

/*-----------------------------------------------------------------------------------------------------------*/

/*content style */
#card{
	background: #fff;
	border: 1px solid rgba(133, 138, 147, 1);
	margin-top: 4vh;
}

#name{
	color: #3B5998;
	font-weight: bold;
	padding-top: 2vh;
	margin: 0;
}

#time{
	color: rgb(133, 138, 147);
}

#story{
	font-weight: bold;
}

#message{
	padding: 2vh 0;
	text-align: justify;
}

.fa-thumbs-o-up, .fa-comment-o, .fa-share{
	margin: 2vh 1vw 2vh 0;
	color: rgb(81, 85, 91);
	font-weight: bold;
}

i{
	cursor: pointer;
	padding-left: 1vw;
}
#footer{
	border-top: 1px solid rgba(133, 138, 147, 0.4); 
}
/*content ends*/